<!DOCTYPE html>
<html>
<head>
    <title>Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h2>Input Data Mahasiswa</h2>

<form action="/submit" method="post">
    <label>Nama:</label>
    <input type="text" name="nama">

    <label>NIM:</label>
    <input type="text" name="nim">

    <label>Jenis Kelamin:</label>
    <select name="jk">
        <option>Laki-laki</option>
        <option>Perempuan</option>
    </select>

    <button type="submit">Submit</button>
</form>

</body>
</html>